.Todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    background: rgb(244, 244, 244);
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
}